.club-card {
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    margin: 20px;
  }
  
.club-image-container {
    height: 150px;
    width: auto;
    border-bottom: 1px solid #ddd; /* Adding a border to separate image and details */
}

.club-image {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.club-details {
    padding: 20px;
}

.club-name {
    font-size: 1.5rem;
    margin: 0;
}